<h4>
  <strong>Author:</strong>
  <%= link_to @author.name, user_path(@author) %>
</h4>

<h4>
  <strong>Friend:</strong>
  <%= link_to @friend.name, user_path(@friend) %>
</h4>

<hr>

<% @messages.each do |message| %>
  <p>
    <strong><%= message.user.name %></strong>
    <%= message.content %>
    <div style="text-align:right"> 
      <%= time_ago_in_words(message.created_at) %> ago
    </div>
  </p>
<% end %>

<%= render "messages/form", message: @conversation.messages.new(user: current_user) %>
