<p id="notice"><%= notice %></p>

<h1>
  <i class="fa fa-heart"></i>
  Liked Posts
</h1>

<%== pagy_info(@pagy) %>

<% @likes.each do |like| %>
  <h3>
    <%= link_to like.post.title, user_post_path(like.post.user, like.post) %>
  </h3>
  <p class="text-preview"><%= like.post.content %></p>
<% end %>

<div style="<%= hidden_for_short_lists(@pagy) %>">
  <%== pagy_nav(@pagy) %>
</div>
