<%= image_tag @user.photo, style: "width:100px" if @user.photo.attached? %>

<h1><%= @user.name %></h1>
<p><%= @user.description %></p>
<p>friend: <%= @friendship.friend.name if @friendship %></p>

<div style="<%= hidden_if_unauthorized_to_manage(@user) %>">
  <%= link_to 'New Post', new_user_post_path(@user) %> |
  <%= link_to "Edit Profile", edit_user_registration_path(@user) %> |
  <%= link_to "My Posts", user_posts_path(@user) %> 
</div>

<div style="<%= hidden_if_owner_of(@user) %>">
  <button style="<%= hidden_if_no_conversation(@friendship) %>">
    <%= link_to "Chat with #{@user.name}", link_to_conversation(@friendship) %>
  </button>

  <div style="<%= hidden_if_conversation(@friendship) %>">
    <%= form_for Conversation.new(friendship: @friendship, author: current_user) do |f| %>
      <%= f.hidden_field :friendship_id %>
      <%= f.hidden_field :user_id %>
      <%= f.submit "Start Conversation with #{@user.name}" %>
    <% end %>
  </div>

  <div style="<%= hidden_if_already_friends(current_user, @user) %>">
    <%= form_for current_user.friendships_as_user.new(friend: @user) do |f| %>
      <%= f.hidden_field :user_id %>
      <%= f.hidden_field :friend_id %>
      <%= f.submit "Add friend" %>
    <% end %>
  </div>

  <hr>

  <h3>Recent Posts</h3>
  <% @posts[0..2].each do |post| %>
    <h4><%= link_to post.title, user_post_path(@user, post) %></h4>
    <p class="text-preview"><%= post.content %></p>
  <% end %>

  <%= link_to "More Posts by #{@user.name} =>", user_posts_path(@user) %>
</div>
