<h1><%= @user.name %></h1>
<p><%= @user.description %></p>

<div style="<%= hidden_if_unauthorized_to_manage(@user) %>">
  <%= link_to 'New Post', new_user_post_path(@user) %> |
  <%= link_to "Edit Profile", edit_user_registration_path(@user) %>
</div>
