<%= image_tag @user.photo, style: "width:100px" if @user.photo.attached? %>

<h1><%= @user.name %></h1>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p><%= @user.description %></p>

<div style="<%= hidden_if_unauthorized_to_manage(@user) %>">
  <%= link_to 'New Post', new_user_post_path(@user) %> |
  <%= link_to "Edit Profile", edit_user_registration_path(@user) %> |
  <%= link_to "My Posts", user_posts_path(@user) %> |
  <%= link_to "Liked Posts", user_likes_path(@user) %> 
</div>


<div style="<%= hidden_if_owner_of_profile(current_user, @user) %>">
  <%= render partial_for_friendship(@friendship), user: @user, friendship: @friendship %>

  <hr>

  <h3>Recent Posts</h3>
  <% @posts[0..2].each do |post| %>
    <h4><%= link_to post.title, user_post_path(@user, post) %></h4>
    <p class="text-preview"><%= post.content %></p>
  <% end %>

  <%= link_to "More Posts by #{@user.name} =>", user_posts_path(@user) %>
</div>

<h3>Recent Friends' Posts</h3>
<p>
  <%= display_message_if_friendless(@user, current_user) %>
</p>

<% @friend_posts[0..2].each do |post| %>
  <h4><%= link_to post.title, user_post_path(post.user, post) %></h4>
  <p class="text-preview"><%= post.content %></p>
<% end %>
