<h1>Posts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Likes</th>
      <th>Content</th>
      <th>Posted</th>
      <th>Author</th>
    </tr>
  </thead>

  <%== pagy_info(@pagy) %>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= link_to post.title, user_post_path(post.user, post) %></td>

        <td>
          <i class="fa fa-heart" style="<%= hidden_if_unliked(post, @likes) %>"></i>
          <%= post.likes.count %>
        </td>

        <td class="text-preview">
          <%= post.content %>
        </td>

        <td><%= time_ago_in_words(post.created_at) %> ago</td>

        <td><%= link_to post.user.name, user_path(post.user) %></td>

        <td style="<%= hidden_if_unauthorized_to_manage(post) %>">
          <%= link_to fa_icon("trash"), post, method: :delete, data: { confirm: 'are you sure?' } %> 
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div style="<%= hidden_for_short_lists(@pagy) %>">
  <%== pagy_nav(@pagy) %>
</div>

<br>

<div style="<%= hidden_if_unauthorized_to_manage(@user) %>">
  <%= link_to "New Post", new_user_post_path(current_user) %>
</div>
