<h1>
  <%= @post.title %>
</h1>

<p>
  <strong>By:</strong>
  <%= link_to @user.name, user_path(@user) %>
</p>

<p>
  <%= @post.content %>
</p>

<br>

<p>
  <strong>Likes:</strong>
  <%= @post.likes.count %>
</p>

<%= render partial_for_liking(@post), post: @post, style: hidden_if_owner_of(@user) %>

<div style="<%= hidden_if_unauthorized_to_manage(@post) %>">
  <%= link_to 'my posts', user_posts_path(@user, @post) %> |
  <%= link_to 'edit', edit_user_post_path(@user, @post) %> |
  <%= link_to 'delete post', @post, method: :delete, data: { confirm: 'are you sure?' } %> 
</div>

<div style="<%= hidden_if_owner_of(@user) %>">
  <%= link_to "More Posts By #{@user.name}", user_posts_path(@user) %> 
</div>
