<h1>
  <%= @post.title %>
</h1>

<p>
  <strong>By:</strong>
  <%= link_to @user.name, user_path(@user) %>
</p>

<p>
  <%= @post.content %>
</p>

<div style="<%= hidden_if_owner_of_post(current_user, @post) %>">
  <%= link_to "More Posts By #{@user.name}", user_posts_path(@user) %> 
</div>

<br>

<p>
  <i class="fa fa-heart"></i>
  <%= @likes.count %>
</p>

<% if can? :create, @post.likes.new %>
  <%= render partial_for_liking(@post, current_user), post: @post, user: current_user %>
<% end %>

<div style="<%= hidden_if_unauthorized_to_manage(@post) %>">
  <%= link_to 'My Posts', "/my-posts" %> |
  <%= link_to 'edit', edit_user_post_path(@user, @post) %> |
  <%= link_to 'delete post', @post, method: :delete, data: { confirm: 'are you sure?' } %> 
</div>
