<!DOCTYPE html>
<html>
  <head>
    <title>Project012021</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/light.min.css">
  </head>

  <style>
    .text-preview {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  </style>

  <body>
    <%= render 'flash_messages' %>
    <%= render 'nav' %>

    <%= yield %>
  </body>
</html>
